<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="users.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div th:if="${errorMessage != null}">
    <div class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>
</div>


<div class="container"  th:unless="${errorMessage != null}">

    <h1>Users List</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Mobile Number</th>
            <th>Email ID</th>
            <th>Father's Name</th>
            <th>PAN Number</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.mobileNumber}"></td>
            <td th:text="${user.emailId}"></td>
            <td th:text="${user.fathersName}"></td>
            <td th:text="${user.panNumber}"></td>
        </tr>

        </tbody>
    </table>
</div>


<nav aria-label="Page navigation"  th:unless="${errorMessage != null}">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
            <a class="page-link" th:href="@{/(page=0)}" aria-label="Previous">
                <span aria-hidden="true">&laquo; First</span>
            </a>
        </li>

        <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
            th:classappend="${currentPage == i ? 'active' : ''}">
            <a class="page-link" th:href="@{/(page=${i})}" th:text="${i + 1}"></a>
        </li>

        <li class="page-item" th:classappend="${currentPage == totalPages - 1 ? 'disabled' : ''}">
            <a class="page-link" th:href="@{/(page=${totalPages - 1})}" aria-label="Next">
                <span aria-hidden="true">Last &raquo;</span>
            </a>
        </li>
    </ul>
</nav>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <button class="btn btn-primary" id="toggleForm">Add New User</button>
        </div>
    </div>
    <form id="myForm" th:action="@{/add}" th:method="post" th:object="${user}" class="needs-validation" novalidate style="display: none;">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}" required>
            <div class="invalid-feedback">
                Please provide a name.
            </div>
        </div>
        <div class="form-group">
            <label for="mobileNumber">Mobile Number:</label>
            <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" th:field="*{mobileNumber}" required>
            <div class="invalid-feedback">
                Please provide a mobile number.
            </div>
        </div>
        <div class="form-group">
            <label for="emailId">Email ID:</label>
            <input type="email" class="form-control" id="emailId" name="emailId" th:field="*{emailId}" required>
            <div class="invalid-feedback">
                Please provide an email address.
            </div>
        </div>
        <div class="form-group">
            <label for="fathersName">Father's Name:</label>
            <input type="text" class="form-control" id="fathersName" name="fathersName" th:field="*{fathersName}" required>
            <div class="invalid-feedback">
                Please provide father's name.
            </div>
        </div>
        <div class="form-group">
            <label for="panNumber">PAN Number:</label>
            <input type="text" class="form-control" id="panNumber" name="panNumber" th:field="*{panNumber}" required>
            <div class="invalid-feedback">
                Please provide PAN number.
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <button type="submit" class="btn btn-primary btn-block">Save User</button>
            </div>
        </div>
    </form>
</div>


</body>

<script>
    $(document).ready(function() {
        $('#myForm').submit(function(event) {
            event.preventDefault(); // Prevent the default form submission

            var formData = $(this).serialize(); // Serialize form data

            $.ajax({
                type: 'POST',
                url: '/add', // URL to submit the form data
                data: formData,
                success: function(response) {
                    // Handle successful response
                    console.log('Form submitted successfully');
                    // Optionally, you can handle the response here
                    // For example, if you want to update a specific element with the response data:
                    // $('#result').html(response);
                    window.location.href = "/";
                },
                error: function(xhr, status, error) {
                    // Handle errors
                    var errors = xhr.responseJSON;
                    var errorMessage = "Validation errors:\n";
                    errors.forEach(function(err) {
                        errorMessage += "- " + err + "\n";
                    });
                    alert(errorMessage);
                }
            });
        });
    });

    document.getElementById('toggleForm').addEventListener('click', function() {
    var form = document.getElementById('myForm');
    if (form.style.display === 'none') {
        form.style.display = 'block';
    } else {
        form.style.display = 'none';
    }
});
</script>

</html>
